{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Fuentes</title>
    <link rel="stylesheet" href="{% static 'buscador_fuentes/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Agregar Fuentes</h1>
        <p>Ingrese los datos de la nueva fuente de información.</p>
    </header>

    <main>
        <form method="post">
            {% csrf_token %}
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" required>
        
            <label for="url">Url:</label>
            <input type="text" name="url" required>
        
            <label for="etiquetas">Etiquetas (separadas por comas):</label>
            <input type="text" name="etiquetas">
        
            <button type="submit">Guardar</button>
        </form>
        <button onclick="window.location.href='{% url 'index' %}'">Regresar al Inicio</button>
    </main>

    <footer>
        <p>Derechos reservados &copy; 2023 VIGIFIA</p>
    </footer>
</body>
</html>