{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Fuentes</title>
    <link rel="stylesheet" href="{% static 'buscador_fuentes/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Buscar Fuentes</h1>
        <p>Ingrese el nombre de la etiqueta por el que quiere buscar la fuentes.</p>
    </header>

    <main>
        <form method="get">
            <label for="etiquetas">Buscar por Etiqueta:</label>
            <input type="text" name="etiquetas">
            <button type="submit">Buscar</button>
        </form>
        
        <ul>
            {% for fuente in resultados %}
                <li>{{ fuente.nombre }} - <a href="{{ fuente.url }}" target="_blank">{{ fuente.url }}</a> - Etiquetas: {{ fuente.etiquetas }}</li>
            {% empty %}
                <li>No se encontraron resultados.</li>
            {% endfor %}
        </ul>
        <button onclick="window.location.href='{% url 'index' %}'">Regresar al Inicio</button>
    </main>

    <footer>
        <p>Derechos reservados &copy; 2023 VIGIFIA</p>
    </footer>
</body>
</html>