{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Fuentes</title>
    <link rel="stylesheet" href="{% static 'buscador_fuentes/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Modificar Fuentes</h1>
        <p>Seleccione una fuente para modificar.</p>
    </header>

    <main>
        <form method="post">
            {% csrf_token %}
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" value="{{ fuente.nombre }}" required>
        
            <label for="url">Link:</label>
            <input type="text" name="url" value="{{ fuente.url }}" required>
        
            <label for="etiquetas">Etiquetas (separadas por comas):</label>
            <input type="text" name="etiquetas" value="{{ fuente.etiquetas|join:', ' }}">
        
            <button type="submit">Guardar Cambios</button>
        </form>
        <button onclick="window.location.href='{% url 'index' %}'">Regresar al Inicio</button>
    </main>

    <footer>
        <p>Derechos reservados &copy; 2023 VIGIFIA</p>
    </footer>
</body>
</html>