/* Reset CSS */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #373737;
    background-color: #ffffff;
    font-weight: 400;
}

:root {
    --ntg5-blue: #0d6efd;
    --ntg5-indigo: #6610f2;
    --ntg5-purple: #6f42c1;
    --ntg5-pink: #d63384;
    --ntg5-red: #dc3545;
    --ntg5-orange: #fd7e14;
    --ntg5-yellow: #ffc107;
    --ntg5-green: #198754;
    --ntg5-teal: #20c997;
    --ntg5-cyan: #0dcaf0;
    --ntg5-black: #000;
    --ntg5-white: #fff;
    --ntg5-gray: #6c757d;
    --ntg5-gray-dark: #343a40;
    --ntg5-gray-100: #f8f9fa;
    --ntg5-gray-200: #e9ecef;
    --ntg5-gray-300: #dee2e6;
    --ntg5-gray-400: #ced4da;
    --ntg5-gray-500: #adb5bd;
    --ntg5-gray-600: #6c757d;
    --ntg5-gray-700: #495057;
    --ntg5-gray-800: #343a40;
    --ntg5-gray-900: #212529;
    --ntg5-primary: #10709b;
    --ntg5-secondary: #608497;
    --ntg5-success: #198754;
    --ntg5-info: #0dcaf0;
    --ntg5-warning: #ED7C25;
    --ntg5-danger: #dc3545;
    --ntg5-light: #f8f9fa;
    --ntg5-dark: #2a4751;
    --ntg5-primary-rgb: 16, 112, 155;
    --ntg5-secondary-rgb: 96, 132, 151;
    --ntg5-success-rgb: 25, 135, 84;
    --ntg5-info-rgb: 13, 202, 240;
    --ntg5-warning-rgb: 237, 124, 37;
    --ntg5-danger-rgb: 220, 53, 69;
    --ntg5-light-rgb: 248, 249, 250;
    --ntg5-dark-rgb: 42, 71, 81;
    --ntg5-white-rgb: 255, 255, 255;
    --ntg5-black-rgb: 0, 0, 0;
    --ntg5-body-color-rgb: 33, 37, 41;
    --ntg5-body-bg-rgb: 255, 255, 255;
    --ntg5-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --ntg5-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --ntg5-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

header {
    background-color: var(--ntg5-primary);
    color: var(--ntg5-white);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
}

p {
    font-size: 1.2em;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, select, input, button {
    font-size: 1em;
    margin: 10px 0;
}

select, input {
    padding: 10px;
    border: 1px solid var(--ntg5-gray-400);
    border-radius: 5px;
    width: 300px;
}

button {
    background-color: var(--ntg5-success);
    color: var(--ntg5-white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: var(--ntg5-dark);
    transform: scale(1.05);
}


ul {
    list-style: none;
    padding: 0;
}

#resultado-list li {
    background-color: var(--ntg5-gray-100);
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#resultado-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    form {
        flex-direction: column;
        align-items: flex-start;
    }

    select, input {
        width: 100%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultado-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}


html {
    scroll-behavior: smooth;
}

footer {
    background-color: var(--ntg5-primary);
    color: var(--ntg5-white);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
