{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de PDFs</title>
    <link rel="stylesheet" href="{% static 'gestor_pdfs/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Gestión de Archivos PDF</h1>
    </header>

    <main>
        <h2>Lista de PDFs</h2>
        <ul>
            {% for pdf in pdfs %}
                <li>{{ pdf.nombre }} - 
                    <a href="{% url 'descargar_pdf' pdf.id %}">Descargar</a> | 
                    <a href="{% url 'borrar_pdf' pdf.id %}">Borrar</a>
                </li>
            {% endfor %}
        </ul>
        
        <!-- Enlace para agregar PDF -->
        <a href="{% url 'agregar_pdf' %}">Agregar nuevo PDF</a> 

        <!-- Enlace para la búsqueda de PDFs por etiquetas -->
        <a href="{% url 'buscar_pdf' %}">Buscar PDF</a>
    </main>

    <footer>
        <p>Derechos reservados &copy; 2023</p>
    </footer>
</body>
</html>
